@media(max-width:1200px) {
	.service {
		flex-direction: column;
	}
	.service-slider,
	.service-block {
		width: 100%;
	}
	.service-slider {
		height: 280px;
	}
	.slide img {
		width: 100%;
		object-fit: cover;
		object-position: bottoms;
	}
}
@media(max-width:1000px) {
	header .container {
		flex-direction: column;
		padding-top:15px;
	}
	nav {
		margin-top: 40px;
		width: 100%;
	}
	nav li {
		flex-grow:1;
	}
	nav a {
		text-align: center;
		padding: 56px 0;
	}
	.home {
		min-height: auto;
		padding: 40px 0;
	}
	.fav-container {
		flex-direction: column;
	}
	.fav-item {
		width: 100%;
	}
	.fav-text {
		width: 100%;
	}
	.fav-img {
		width: 30%;
	}
	.tours-container a {
		flex: 0 32%;
	}
}
@media(max-width:800px) {
	.mini-menu {
		display: block;
		background: var(--white);
		width: 100%;
		padding:20px 0;
		border:none;
		cursor: pointer;
		color: var(--grey);
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 900;
		outline:none;
	}
	nav ul {
		flex-direction: column;
		display: none;
	}
	nav a {
		padding: 20px 0;
		background: var(--white);
		color: var(--grey);
		border-top: 2px solid var(--white);
	}
	nav a:hover{
		background:var(--yelow);
		color: var(--blue);
	}
	.home-title {
		font-size: 50px;
	}
	header .container {
		padding-left: 0;
		padding-right: 0;
	}
	.service-item {
		width: 100%;
	}
	.tours-container a {
		flex: 0 49%;
	}
	.contacts-container {
		flex-direction: column;
	}
	.contact-info,
	.contact-form {
		width: 100%;
	}
}
@media(max-width:600px) {
	.fav-item {
		flex-direction: column;
		align-items: center;
	}
	.fav-img {
		width: 70%;
		margin:0 auto;
		border:3px solid var(--green);
	}
	.slide img {
		filter: blur(5px);
	}
	.slick-center img {
		filter: blur(0);
	}
	.tours-container a {
		flex: 0 100%;
	}
	.home-title{
		font-size: 38px;
	}
	.footer-logo{
		font-size: 22px;
	}
}