*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	--yelow: #fdcc04;
	--white: #fff;
	--blue: #025fc4;
	--grey: #474747;
	--darkgrey: #3c3c3c;
	--lightgrey: #959595;
	--wrapWidth: 1920px;
	--contWidth: 1200px;
	--font: 'Open Sans', sans-serif;
}
body {
	background: var(--white);
	font-family: var(--font);
}
.wrapper {
	max-width: var(--wrapWidth);
	margin:0 auto;
	overflow: hidden;
}
.container {
	max-width: var(--contWidth);
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	padding:0 15px;
}
nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}
nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--grey);
	display: block;
	padding:42px 23px;
	font-size: 18px;
	transition: .3s;
	font-weight: 900;
}
nav a:hover {
	color: var(--blue);
	background: var(--yelow);
}
header .container {
	align-items: center;
}

.logo {
	text-decoration: none;
	color: var(--yelow);
	font-weight: bold;
	font-size: 28px;
	display: block;
	padding:12px 21px;
}
.mini-menu {
	display: none;
}
.home {
	min-height: 915px;
	background:url(../img/bg-home.jpg) center/cover fixed;
}
.home-container {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: inherit;
	text-align: center;
}
.home-title {
	margin: 0;
	color: var(--white);
	text-transform: uppercase;
	font-size: 68px;
	text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0;
}
.home-text {
	color: var(--white);
	max-width: 1000px;
	margin: 50px auto 90px;
	font-size: 22px;
	line-height: 38px;
	text-shadow: #cad5e2 1px 1px 0;
}
.home-link {
	text-decoration: none;
	text-transform: uppercase;
	background: var(--yelow);
	color: var(--white);
	font-size: 26px;
	padding:25px 40px;
	border-radius: 5px;
}

.favorable {
	padding:100px 0 70px;
}
.section-title {
	text-align: center;
	text-transform: uppercase;
	color:var(--yelow);
	font-size: 28px;
	font-weight: 400;
	margin:0;
	position: relative;
}
.section-title::before {
	content:"";
	display: block;
	width: 150px;
	height: 1px;
	background: #c2c2c2;
	position: absolute;
	top:40px;
	left:50%;
	transform: translateX(-75px);
}
.section-title::after {
	content:"";
	display: block;
	width: 50px;
	height: 3px;
	background: var(--yelow);
	position: absolute;
	top:39px;
	left:50%;
	transform: translateX(-25px);
}
.fav-container {
	flex-wrap: wrap;
	margin-top: 60px;
}
.fav-item {
	width: 48%;
	display:flex;
	align-items: flex-start;
	margin-bottom: 30px;
}
.fav-img {
	width: 45%;
	margin-right: 30px;
}
.fav-text {
	width: 280px;
}
.fav-text h6 {
	margin:14px 0 25px;
	font-size: 15px;
	color: var(--darkgrey);
	line-height: 20px;
}
.fav-text p {
	font-size: 14px;
	color: var(--lightgrey);
	line-height: 22px;
}
.service {
	display: flex;
	background: #efeeee;
}
.service-slider {
	width: 50%;
	position: relative;
}
.slick-dots {
	position:absolute;
	width: 100%;
	bottom:40px;
	left:0;
	display: flex;
	justify-content: center;
	list-style:none;
	margin: 0;
	padding: 0;
}
.slick-dots button {
	font-size: 0;
	border:none;
	cursor: pointer;
	width: 12px;
	height: 12px;
	background: #bbcfcf;
	border-radius: 50%;
	margin:0 6px;
	outline: none;
}
.slick-active button {
	background: var(--white);
}
.service-block {
	width: 50%;
	padding:60px 0;
}
.service-container {
	flex-wrap: wrap;
	max-width: 800px;
	margin:60px auto 0;
}
.service-item {
	width: 48%;
	text-align: center;
	margin-bottom: 35px;
}
.service-item p {
	font-size: 14px;
	color: var(--lightgrey);
	line-height: 24px;
	text-align: left;
	margin:25px 0 0;
}
.slick-list,
.slick-track {
	height: 100%;
}
.slide img {
	height: 100%;
}
.tours {
	padding:100px 0;
	text-align: center;
}
.tours-container {
	flex-wrap: wrap;
	margin:75px auto;
}
.tours-container a {
	background:var(--white);
	flex:0 24%;
	margin-bottom: 2%;
}
.tours-container a img {
	display: block;
	margin:0 auto;
	width: 100%;
	height:auto;
}
.more {
	cursor:pointer;
	border:none;
	text-transform: uppercase;
	color: var(--white);
	background: var(--yelow);
	font-size: 26px;
	padding:25px 50px;
	border-radius:5px;
	box-shadow: 0 0 35px rgba(89,196,90, 0.65);
	transition:.3s;
}
.more:hover {
	box-shadow: none;
}
.contacts {
	padding:100px 0 90px;
	background: #efeeee;
}
.contacts h2 {
	margin: 0;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 28px;
	color: var(--lightgrey);
	text-align: center;
}
.contacts-container {
	margin-top: 60px;
}
.contact-info, 
.contact-form {
	width: 50%;
	border:1px solid #c9c9c9;
}
.contact-info {
	padding:35px 30px 60px;
}
.footer-logo {
	display: inline-block;
}
.footer-logo::after {
	background: #efeeee;
}
.contact-info p {
	margin:40px 0 30px;
	color: var(--lightgrey);
	font-size: 14px;
	line-height: 22px;
}
.contact-item {
	margin-bottom: 18px;
	display:flex;
	align-items:center;
}
.contact-item span,
.contact-item a {
	font-size: 14px;
	color:#9b9b9b;
	font-weight: bold;
	text-decoration: none;
}
.contact-item i {
	color: var(--blue);
	font-size: 20px;
	margin-right: 20px;
}
.socials {
	margin-top: 35px;
	display: flex;
}
.socials a {
	text-decoration: none;
	width: 40px;
	height: 40px;
	border-radius:4px;
	background: #c9c9c9;
	color: var(--white);
	margin-right: 10px;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
	transition:.3s;
}
.socials a:hover {
	transform: scale(1.2);
}
.fb:hover {
	background: #4267B2;
}
.gp:hover {
	background: #DB4437;
}
.in:hover {
	background: #2867B2;
}
.tw:hover {
	background:#1DA1F2;
}
.contact-form {
	padding:30px;
}
.contact-form form {
	display: flex;
	flex-direction: column;
}
.contact-form input,
.contact-form textarea {
	width: 100%;
	height: 40px;
	border:none;
	border-bottom: 1px solid #c9c9c9;
	background: none;
	font-size: 14px;
	color: var(--lightgrey);
	margin-bottom: 30px;
	outline:none;
}
.contact-form textarea {
	height: 130px;
	resize:none;
}
.contact-form button {
	cursor:pointer;
	border:none;
	text-transform: uppercase;
	color: var(--white);
	background: var(--yelow);
	font-size: 22px;
	padding:25px 17px;
	border-radius:5px;
	box-shadow: 0 0 35px rgba(89,196,90, 0.65);
	transition:.3s;
	margin-top: 60px;
	max-width: 230px;
	align-self: center;
}
.contact-form button i {
	margin-left: 30px;
}
.contact-form button:hover {
	box-shadow: none;
}
